certifi==2021.5.30
chardet==4.0.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
moviepy==1.0.3
numpy==1.21.0
Pillow==8.3.1
pkg-resources==0.0.0
proglog==0.1.9
pygame==2.0.1
PySimpleGUI==4.45.0
requests==2.25.1
tqdm==4.61.2
urllib3==1.26.6
